---
http_interactions:
- request:
    method: get
    uri: https://api.independentreserve.com/Public/GetMarketSummary?PrimaryCurrencyCode=Xbt&SecondaryCurrencyCode=Aud
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"DayHighestPrice":9545.0,"DayLowestPrice":8750.0,"DayAvgPrice":9215.18,"DayVolumeXbt":481.67961367,"DayVolumeXbtInSecondaryCurrrency":476.32153486,"CurrentLowestOfferPrice":9409.94,"CurrentHighestBidPrice":9350.0,"LastPrice":9449.19,"PrimaryCurrencyCode":"Xbt","SecondaryCurrencyCode":"Aud","CreatedTimestampUtc":"2017-11-02T13:29:59.8126139Z"}'
  recorded_at: Thu, 02 Nov 2017 13:30:00 GMT
recorded_with: VCR 3.0.3
